version: 2

jobs:
  build:
    docker:
      - image: circleci/node:4.8.2
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: "yarn"
          command: cd ~/project && yarn

      - run:
          name: Install dependencies
          command: |
            sudo apt install python-pip python-dev
            pip install awscli --upgrade --user

      - run:
          name: "hugo"
          command: wget https://github.com/spf13/hugo/releases/download/v0.19/hugo_0.19-64bit.deb

      - run:
          name: "install hugo"
          command: sudo dpkg -i hugo*.deb

      - run:
          name: "list stuff"
          command: cd ~/project && ls -la

      - run:
          name: "dump"
          command: ~/project/node_modules/.bin/dato dump

      - run:
          name: "generate website"
          command: cd ~/project && hugo

      - deploy:
          name: Deploy to S3 if tests pass and branch is Master
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              aws s3 sync public s3://lettertomystudents/ --delete
            else
              echo "Not master branch so not deploying"
            fi

notify:
  webhooks:
  - url: https://webhooks.datocms.com/3bc1b8f6d20061e77417/deploy-results
