version: 2

jobs:
  build:
    docker:
      - image: circleci/node:latest
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: "yarn"
          command: yarn

      - run:
          name: "download"
          command: wget https://github.com/gohugoio/hugo/releases/download/v0.26/hugo_0.26_Linux-64bit.deb

      - run:
          name: "install hugo"
          command: sudo dpkg -i hugo*.deb

      - run:
          name: "dump"
          command: ./node_modules/.bin/dato dump

      - run:
          name: "generate website"
          command: hugo -v

deployment:
  production:
    branch: master
    heroku:
      appname: lettertomystudents

notify:
  webhooks:
  - url: https://webhooks.datocms.com/3bc1b8f6d20061e77417/deploy-results
